#map {
  height: 100%;
  width: 100%;
}

#search_input {
  margin: 10px;
  border: none;
  font-size: 1.2em;
  background: none;
  width: 95%;
}

ion-button {
  margin: 5px;
  width: 100%;
}

ion-label {
  color: black;
}

input {
  color: black;
}
