ion-datetime {
    margin-left: -10px;
}

#add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

#add ion-button {
    width: 90%;
}

img {
    max-width: 400px;
}