<ion-header>
  <ion-toolbar>
    <ion-title>사용 설명서 (지도) </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-margin-vertical">
        <h5>지도 부분 캡쳐 화면</h5>
        <img src="../assets/manual/map.jpg">
      </ion-col>
      
      <ion-col class="ion-margin-vertical">
        <p>
          밭 측정을 사용하는 방법을 자세히 알고싶으시면 동영상 가이드 버튼을 눌러 동영상을 봐주세요.
        </p>
        <p>
          지도에서 밭을 찾기 어려우신 경우, <b>현재 위치로 이동하기</b> 버튼을 눌러 현재 사용자의 위치에 해당하는 지도를 볼 수 있습니다.
        </p>
        <p>
          밭이 있는 지역의 지도를 찾기 위해서는 밭의 주소 혹은 지역을 검색하세요.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <footer style="bottom: 0">
    <ion-button [routerLink]="['/first-manual4']"> 다음으로 </ion-button>
  </footer>
</ion-content>
