ion-grid {
  display: block;
  width: 100%;
  height: 100%;
}
ion-row {
  height: 48%;
  margin-bottom: 15px;
}
ion-button {
  display: block;
  height: 100%;
  margin: auto 10px;
  font-size: xx-large;
  font-weight: 700;
}
