<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>품질 정보 확인</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>구역 선택 후 날짜를 선택하세요</ion-label>
        </ion-item>
    </ion-list>
    <ion-accordion-group>
        <ion-accordion value="{{zone}}" *ngFor="let zone of qualityService.zones">
            <ion-item slot="header">
                <ion-label>구역 번호 : {{zone}}</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-grid>
                    <ion-row>
                        <ion-col>날짜</ion-col>
                    </ion-row>
                </ion-grid>
                <ion-container *ngFor="let q of qualityService.quality">
                    <ion-grid *ngIf="q.zone==zone">
                        <ion-row id="goGrape" [routerLink]="['/grape']" [state]="{qualityId: q.id}">
                            <ion-col>
                                {{q.date.getFullYear()}}년 {{q.date.getMonth()}}월 {{q.date.getDay()}}일 {{q.date.getHours()}}시 {{q.date.getMinutes()}}분
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-container>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>
</ion-content>
