ion-list {
    max-width: 700px;
    justify-content: center;
    margin: 0 auto;
}

ion-item {
    text-align: center;
}

ion-grid {
    max-width: 700px;
}

.goGrape {
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--ion-color-medium);
}

ion-col {
    align-items: center;
    text-align: center;
}